.footer{
    text-align: center;   
    background-color: cadetblue; 
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/270/401/desktop-wallpaper-most-viewed-travel-travel-agency.jpg);
    background-size: cover;
    }
   .form-control{
    text-decoration: solid;
    background-color: burlywood ;
    }