h1{
    margin-top: 2%;
    color:#2c0071;
    text-align: center;
    text-decoration:none;
   }
   #equipaje {
    color: whitesmoke;
   }
   .fuente{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   .colores{
    background-color: whitesmoke;
    color: black;
   }
   header{
    background-color: whitesmoke;
    position: static;
    top: 0%;
    padding: 1%; 
   }
   ul{
    list-style-type: none;
   }
   ul li{
    display: inline-block;
    margin-top: 15px;
    justify-content: space-between;
   }
   .texto-lorem{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    font-weight: bold;
    font-style: italic;
   }
   a{
    text-decoration: none;
    color: antiquewhite;
   }
   .fondo{
    background-repeat: no-repeat;
    background-position: 400px 650px;
    background-size: contain;
   }
   .logo {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex ;
    height: 47vh;
    justify-content:space-between;
    align-items: center;
    background-size: cover;
    background-image: url(https://viajes.nationalgeographic.com.es/medio/2023/05/24/el-nido-palawan-filipinas_fbefec37_230524094838_1183x887.jpg)
       }
   .color-inicio {
    color: aliceblue;
    text-decoration: solid;  
   }
   .foto-logo{
    width: 150px;
    height: 150px;
   }
   .footer{
    text-align: center;   
    background-color: cadetblue; 
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/270/401/desktop-wallpaper-most-viewed-travel-travel-agency.jpg);
    background-size: cover;
    }
   .form-control{
    text-decoration: solid;
    background-color: burlywood ;
    }
   .mb-3{
    text-align: center;
    font-weight: bold;}
   .orden1{   
    height: 100vh;
    min-width: 100vh; 
   }
   .organigrama{
    margin-top: 30px;
   }
   .exc{
    color: rgba(255, 0, 0, 0.99);    font-weight: bold;
   }
   .exc1{
    display: flex;
    flex-direction: column;
   }
   .contenido{
    height: 70px;
    width: 240px;
    background-color: blanchedalmond;
    border: 2px solid black;
    padding: 35px;
   }
   .chalten {
    margin: 20px 100px 55px 155px;
   }
   .video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    margin-top: 10px;
   }
   .fuente1{
    font-family: 'Raleway', sans-serif, Impact;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2px ;
    margin-bottom: 20px;
    margin-left: 5px; 
   }
   .card{
    background-color: cornsilk;
    width: 350px;
    border: 1px solid grey;
    margin: 25px;
    flex-direction: column;
    display: flex;
   }
   .cards1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
   .img{
    width: 100%;
    height: 450px;
   }
   img{ 
    width: 100%;
   }
   .d-block{
    height: 600px;
    width: 600px;
   }
   .galeria{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
   }
   .column{
    flex: 25%;
    padding: 5px;
   }
   .column img {
    margin-top: 5px;
   }
   .boton{
    display: flex ;
    flex-direction: row;
    justify-content: end;
    background-color: rgb(98, 134, 98);
    font-size: large ;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:6px;
    border-radius:10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 200px;
   }
    @media (min-width: 480px) and ( max-width: 768px ) {
   .orden{
    display: block;
   } 
   .column{
    flex: 100%;
   }
   .logo{
    grid-template-columns: 1fr 1fr;   
   }
   h1 {
    color: black;
    font-family: cursive;
    font-size: medium;
   }
   ul li{
    display: block;
   }
   header{
    height: auto;
   }
   }
   a:hover{
    font-weight: 700;
    padding: 5px;
    background-color: none;
    color: green;
   }
   i:hover{
    background-color: none;
    padding: 5px;
    color: red;
   }
   .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
@media (max-width: 768px) {
    iframe {
      width: 100%;
    }  }